.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: inherit;
    color: #00f;
    text-decoration: underline;
    cursor: pointer;
  }

.row-0 {
    background-color: #fff;
}

.row-1 {
    background-color: #eee;
}